<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewBee商城-登录</title>
    <link rel="stylesheet" th:href="@{mall/css/common.css}">
    <link rel="stylesheet" th:href="@{mall/styles/login.css}">
    <link rel="stylesheet" th:href="@{mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
</head>
<body>
<div class="top center">
    <div class="logo center">
        <a href="./index.html" target="_blank"><img src="mall/image/login-logo-2.png" alt=""></a>
    </div>
</div>
<div class="form center">
    <div class="login">
        <div class="login_center">
            <div class="login_top">
                <div class="left fl">会员登录</div>
                <div class="right fr">您还不是我们的会员？<a href="register.html" target="_self">立即注册</a></div>
                <div class="clear"></div>
                <div class="under-line center"></div>
            </div>
            <form id="loginForm" onsubmit="return false;" action="##">
                <div class="login_main center">
                    <div class="login-info">手机号:&nbsp;<input class="login-info-input" type="text" name="loginName"
                                                             id="loginName"
                                                             placeholder="请输入你的手机号"/>
                    </div>
                    <div class="login-info">验证码:&nbsp;<input class="login-info-input"
                                                                                    id="yanz"
                                                                                    type="text"
                                                                                    name="yanz"
                                                                                    placeholder="请输入你的短信验证码"/></div>
                    <input type="button" id="btn" value="获取短信验证码" onclick="sendemail()" />
<!-- <div class="login-info">
                        验证码:&nbsp;
                        <input class="login-info-input verify-code" type="text" name="verifyCode"
                               placeholder="请输入验证码" id="verifyCode"/>
                        <img alt="单击图片刷新！" style="top: 14px;position: relative;" th:src="@{/common/mall/kaptcha}"
                             onclick="this.src='/common/mall/kaptcha?d='+new Date()*1">
                    </div>-->
                </div>
                <p  id="msg01"></p>

                <div class="login_submit">
                    <input class="submit" type="submit" onclick="login()" value="立即登录">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>




<script type="text/javascript">


    var countdown=60;
    function sendemail(){
        var loginName = $("#loginName").val();

        var obj = $("#btn");
        if(loginName!=null){
            if (!validPhoneNumber(loginName)) {
                swal('请输入正确的登录名(即手机号)', {
                    icon: "error",
                });
                return false;
            }
            $.post("/huoqud","loginName="+loginName+"&time=60");
            settime(obj);
        }


    }
    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled',false);
            //obj.removeattr("disabled");
            obj.val("免费获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled',true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
                settime(obj) }
            ,1000)
    }


    function change()
    {
        var img=document.getElementById("image");
        //切换验证码的原理是点击就重新将src设置一下，但是浏览器有缓存，所以我们需要在后面添加                     一个参数来让浏览器不断发送请求，后面加的参数为时间，因为时间是不断变化的
        img.src="/Verificode?a="+new Date()*1;
    }

    function login() {

        var loginName = $("#loginName").val();

        if (!validPhoneNumber(loginName)) {
            swal('请输入正确的登录名(即手机号)', {
                icon: "error",
            });
            return false;
        }
        var yanz = $("#yanz").val();
        if (!validDuanx(yanz)) {
            swal('请输入正确的验证码格式(6位数字)', {
                icon: "error",
            });
            return false;
        }

     /*   var verifyCode = $("#verifyCode").val();
        if (!validLength(verifyCode, 7)) {
            swal('请输入正确的验证码', {
                icon: "error",
            });
            return false;
        }*/
        //验证
        var params = $("#loginForm").serialize();

        var url = '/duanlogin';
        $.ajax({
            type: 'POST',//方法类型
            url: url,
           /* data: params,*/
            data:"loginName="+loginName+"&yanz="+yanz,
            success: function (result) {
                if ("200" == result) {
                    window.location.href = '/index';
                } else {
                    $("#msg01").html(result.msgs);
                }
                ;
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }
</script>
</html>