<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newbeemall.mapper.TbNewbeeMallOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.newbeemall.entity.TbNewbeeMallOrder">
        <id column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
        <result column="total_price" property="totalPrice" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_type" property="payType" />
        <result column="pay_time" property="payTime" />
        <result column="order_status" property="orderStatus" />
        <result column="extra_info" property="extraInfo" />
        <result column="user_name" property="userName" />
        <result column="user_phone" property="userPhone" />
        <result column="user_address" property="userAddress" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, order_no, user_id, total_price, pay_status, pay_type, pay_time, order_status, extra_info, user_name, user_phone, user_address, is_deleted, create_time, update_time
    </sql>


    <select id="order_list" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM tb_newbee_mall_order
        <if test="sidx != null and sidx != ''"> ORDER BY ${sidx} ${order}</if>
        <if test="start != null and limit != null"> limit ${start},${limit}</if>
    </select>

    <select id="findNewBeeMallOrderList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_order
        <where>
            <if test="orderNo!=null and orderNo!=''">
                and order_no = #{orderNo}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
            <if test="payType!=null and payType!=''">
                and pay_type = #{payType}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and order_status = #{orderStatus}
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                and is_deleted = #{isDeleted}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                and create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                and create_time &lt; #{endTime}
            </if>
        </where>
        order by create_time desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="count" parameterType="Map" resultType="int">
        select count(*) from tb_newbee_mall_order
        <where>
            <if test="orderNo!=null and orderNo!=''">
                and order_no = #{orderNo}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
            <if test="payType!=null and payType!=''">
                and pay_type = #{payType}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and order_status = #{orderStatus}
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                and is_deleted = #{isDeleted}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                and create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                and create_time &lt; #{endTime}
            </if>
        </where>
    </select>

<!--配货-->
  <update id="updateoByIds" parameterType="list">
       UPDATE tb_newbee_mall_order
        SET order_status = #{status}  where  order_id in
      <foreach item = "item" index = "index" collection = "ids" open = "(" separator = "," close = ")">
         #{item}
      </foreach>

  </update>
   <!-- <update id="updataOrder" parameterType="Map">
        UPDATE tb_newbee_mall_order
        SET
        <foreach item="value" index="key" collection="params" separator=",">
            <if test="value != null">
                ${key} = #{value}
            </if>
        </foreach>
        WHERE
        <foreach item="value" index="key" collection="map.entrySet()" separator=",">
            <if test="key == 'order_id'">
                order_id = #{value}
            </if>
        </foreach>
    </update>-->

</mapper>
