<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newbeemall.mapper.TbNewbeeMallOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.newbeemall.entity.TbNewbeeMallOrderItem">
        <id column="order_item_id" property="orderItemId" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_cover_img" property="goodsCoverImg" />
        <result column="selling_price" property="sellingPrice" />
        <result column="goods_count" property="goodsCount" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_item_id, order_id, goods_id, goods_name, goods_cover_img, selling_price, goods_count, create_time
    </sql>

    <select id="getOrderItemByOrderId" resultType="com.example.newbeemall.entity.TbNewbeeMallOrderItem">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM tb_newbee_mall_order_item
        WHERE order_id=#{orderId}
    </select>


    <select id="selectByOrderIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_order_item
        where order_id
        in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
